<a href="https://colab.research.google.com/github/siti-alawiyah/ibresultprediction/blob/main/RandomForestReg_1.02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# RandomForest Regressor

In [1]:
# imports
# ignore future warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import confusion_matrix, plot_confusion_matrix,make_scorer, r2_score, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn import metrics
import pickle

import statsmodels.api as sm
from scipy import stats

In [2]:
# links to dataset
URL1 = "https://raw.githubusercontent.com/siti-alawiyah/ibresultprediction/main/data/2020IB.csv"
URL2 = "https://raw.githubusercontent.com/siti-alawiyah/ibresultprediction/main/data/2019IB.csv"
URL3 = "https://raw.githubusercontent.com/siti-alawiyah/ibresultprediction/main/data/2018IB.csv"   
URL4 = "https://raw.githubusercontent.com/siti-alawiyah/ibresultprediction/main/data/2017IB.csv"

In [3]:
# read the url for the datasets
df20 = pd.read_csv(URL1)
df19 = pd.read_csv(URL2)
df18 = pd.read_csv(URL3)
df17 = pd.read_csv(URL4)

In [4]:
# getting the columns prior for modelling
col_name = ["Ma Std","Ma Teacher","Ma ATL","Ma Compl. Of Work","Ma Sub Achievement","Predicted Grade","Actual Grade","Scaled Total"]

df20 = df20[col_name]
df19 = df19[col_name]
df18 = df18[col_name]
df17 = df17[col_name]

In [5]:
# combine the dataframes into 1 before modelling
frames = [df20,df19,df18,df17]
df = pd.concat(frames)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 681 entries, 0 to 177
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ma Std              657 non-null    object
 1   Ma Teacher          657 non-null    object
 2   Ma ATL              657 non-null    float64
 3   Ma Compl. Of Work   654 non-null    float64
 4   Ma Sub Achievement  657 non-null    float64
 5   Predicted Grade     654 non-null    float64
 6   Actual Grade        652 non-null    float64
 7   Scaled Total        653 non-null    float64
dtypes: float64(6), object(2)
memory usage: 47.9+ KB

In [7]:
df.isnull().sum()

Ma Std                24
Ma Teacher            24
Ma ATL                24
Ma Compl. Of Work     27
Ma Sub Achievement    24
Predicted Grade       27
Actual Grade          29
Scaled Total          28
dtype: int64

In [8]:
#drop rows that have null values
df.dropna(axis=0, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 0 to 177
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ma Std              650 non-null    object
 1   Ma Teacher          650 non-null    object
 2   Ma ATL              650 non-null    float64
 3   Ma Compl. Of Work   650 non-null    float64
 4   Ma Sub Achievement  650 non-null    float64
 5   Predicted Grade     650 non-null    float64
 6   Actual Grade        650 non-null    float64
 7   Scaled Total        650 non-null    float64
dtypes: float64(6), object(2)
memory usage: 45.7+ KB

In [10]:
# dummify Ma Std and Ma Teacher
col= ['Ma Std','Ma Teacher']

# Creaing dummies 
df = pd.get_dummies(columns=col, data=df,drop_first=True)

In [11]:
# create train test split 
X = df.drop(['Predicted Grade','Actual Grade','Scaled Total'],axis=1)
y = df['Actual Grade']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [12]:
pipe  = Pipeline([('rf', RandomForestRegressor(random_state=42))])

In [13]:
pipe_params = {
    'rf__n_jobs': [-1],
    'rf__n_estimators': [230,231,232,233,234,235,236,237,238,239],
    'rf__max_depth': [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'rf__random_state': [42]
    }

In [14]:
scorers = {'RMSE': make_scorer(mean_squared_error)}

In [15]:
# instantiate GridSeachCV
gs = GridSearchCV(pipe, param_grid = pipe_params, cv = 3, scoring = scorers, n_jobs = -1, refit = 'RMSE')

In [16]:
# fit grid search to training data
gs.fit(X_train, y_train)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('rf',
                                        RandomForestRegressor(random_state=42))]),
             n_jobs=-1,
             param_grid={'rf__max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'rf__n_estimators': [230, 231, 232, 233, 234, 235, 236,
                                              237, 238, 239],
                         'rf__n_jobs': [-1], 'rf__random_state': [42]},
             refit='RMSE', scoring={'RMSE': make_scorer(mean_squared_error)})

In [17]:
#print the best score for CV = 3
print(gs.best_score_)

0.6982635806490755

In [18]:
#model score on training set
gs.score(X_train, y_train)

0.6991708397765948

In [19]:
#score model on test set
gs.score(X_test, y_test)

0.7939366438951159

In [20]:
#get the best params
gs.best_params_

{'rf__max_depth': 1,
 'rf__n_estimators': 238,
 'rf__n_jobs': -1,
 'rf__random_state': 42}

In [21]:
#RandomForest Score
rf_r2_train = gs.score(X_train,y_train)
rf_r2_test = gs.score(X_test,y_test)
rf_rmse_train = mean_squared_error(gs.predict(X_train),y_train)
rf_rmse_test = mean_squared_error(gs.predict(X_test),y_test)

In [22]:
print(f'RandomForestRegressor R2 train score {rf_r2_train}')
print(f'RandomForestRegressor R2 test score {rf_r2_test}')
print(f'RandomForestRegressor RMSE train score {rf_rmse_train}')
print(f'RandomForestRegressor RMSE test score {rf_rmse_test}')

RandomForestRegressor R2 train score 0.6991708397765951
RandomForestRegressor R2 test score 0.7939366438951159
RandomForestRegressor RMSE train score 0.6991708397765948
RandomForestRegressor RMSE test score 0.7939366438951161

# Feature Ranking

In [23]:
feature_names = pd.DataFrame(gs.best_estimator_.named_steps.rf.feature_names_in_, columns=['feature_name'])
feature_names['importance'] = gs.best_estimator_.named_steps.rf.feature_importances_

In [24]:
feature_names

          feature_name  importance
0               Ma ATL         0.0
1    Ma Compl. Of Work         0.0
2   Ma Sub Achievement         1.0
3           Ma Std_ SL         0.0
4            Ma Std_HL         0.0
5            Ma Std_SL         0.0
6      Ma Teacher_ CLe         0.0
7      Ma Teacher_ CNa         0.0
8      Ma Teacher_ FBe         0.0
9      Ma Teacher_ RCh         0.0
10     Ma Teacher_ SSn         0.0
11      Ma Teacher_BGe         0.0
12      Ma Teacher_CLe         0.0
13      Ma Teacher_CNa         0.0
14      Ma Teacher_DCh         0.0
15      Ma Teacher_FBe         0.0
16      Ma Teacher_FYi         0.0
17      Ma Teacher_GGo         0.0
18      Ma Teacher_GTu         0.0
19      Ma Teacher_Gtu         0.0
20      Ma Teacher_JTo         0.0
21      Ma Teacher_LLP         0.0
22      Ma Teacher_RCh         0.0
23      Ma Teacher_TSS         0.0

In [25]:
feature_names.sort_values(by="importance",ascending=False)[:10]

          feature_name  importance
2   Ma Sub Achievement         1.0
0               Ma ATL         0.0
13      Ma Teacher_CNa         0.0
22      Ma Teacher_RCh         0.0
21      Ma Teacher_LLP         0.0
20      Ma Teacher_JTo         0.0
19      Ma Teacher_Gtu         0.0
18      Ma Teacher_GTu         0.0
17      Ma Teacher_GGo         0.0
16      Ma Teacher_FYi         0.0

# Model Prediction of Student's Grade

In [26]:
# rounding the results off to nearest whole number

y_test_pred = gs.predict(X_test).round().astype('int')

In [27]:
X_test

     Ma ATL  Ma Compl. Of Work  ...  Ma Teacher_RCh  Ma Teacher_TSS
165     7.0                7.0  ...               0               0
60      6.0                6.0  ...               0               0
112     6.0                6.0  ...               0               1
5       6.0                5.0  ...               0               0
76      7.0                7.0  ...               0               0
..      ...                ...  ...             ...             ...
154     7.0                7.0  ...               0               0
96      6.0                6.0  ...               0               0
143     5.0                5.0  ...               0               0
115     6.0                6.0  ...               0               0
75      7.0                7.0  ...               0               0

[195 rows x 24 columns]

In [28]:
X_test['model prediction'] = y_test_pred

In [29]:
X_test.head()

     Ma ATL  Ma Compl. Of Work  ...  Ma Teacher_TSS  model prediction
165     7.0                7.0  ...               0                 6
60      6.0                6.0  ...               0                 4
112     6.0                6.0  ...               1                 6
5       6.0                5.0  ...               0                 4
76      7.0                7.0  ...               0                 6

[5 rows x 25 columns]